<section class="w-100 h-100 d-flex flex-column justify-content-between align-items-center">
  <h1>Longest Word Game</h1>

<div class="w-100">
  <div id="grid" class="d-flex flex-row justify-content-center mx-auto px-4 w-75 flex-wrap gap-3">
    <% @letters.each do |letter| %>
      <div class="letter border border-2"><%= letter.capitalize %></div>
    <% end%>
  </div>

  <div id="game-form">
    <form action="/score" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <div class="input-group w-50 mx-auto mt-4">
        <input type="text" name="word" class="form-control rounded-0">
        <input type="submit" value="Play" class="button button-secondary retro blue rounded-0">
      </div>
    </form>
  </div>
</div>
  <% if @word %>
    <div class="mt-4 uppercase">
      <h3>RESULT :</h3>
      <% if @included %>
        <% if @english_word %>
          <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
        <% else %>
          <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
        <% end %>
      <% else %>
        <p>Sorry but <strong><%= @word %></strong> can't be built out of this letters</p>
      <% end %>
    </div>
  <% end %>
  <div class="d-flex flex-row gap-3">
    <%= form_with(url: new_path, method: :post, local: true) do |f| %>
      <%= f.submit "Start again", class: "button button-secondary retro green" %>
    <% end %>
    <%= link_to "Back to games", root_path, class: "button button-secondary retro red" %>
  </div>
</section>
